/*
 * @Author: your name
 * @Date: 2022-03-01 10:51:34
 * @LastEditTime: 2022-03-31 16:31:37
 * @LastEditors: 张楷滨
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \vue2-template\src\styles\index.scss
 */
@import './element-ui.scss';
// @import './variables.scss';

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  color: $text-regular;

  #app {
    @include wh100();
  }
}

div {
  box-sizing: border-box;
}

/**
  * 外层框架布局
  **/
.app-main {
  @include wh100();
  background-color: $--layout-background;

  // 头部
  .header {
    width: 100%;
    height: $--layout-head--height;
    float: left;
    padding: 0 $padding-base * 6;
    background-color: $--layout-head--background;

    //  项目logo
    .logo-container {
      width: 420px;
      height: inherit;
      float: left;

      .company-logo {
        width: 180px;
        height: calc(100% - 28px);
        margin-top: 14px;
        background-image: url('/images/logo/company-logo.svg');
        background-repeat: no-repeat;
        background-position: 0 50%;
        float: left;
      }

      .project-text {
        width: 200px;
        height: 100%;
        float: left;
        color: $text-background;
        font-size: 22px;
        line-height: $--layout-head--height;
        padding-right: $padding-base * 6;
        @include text-overflow();
      }
    }

    // 菜单
    .menu {
      width: calc(100% - 140px - 420px);
      height: 100%;
      float: left;
      background-color: inherit;

      .el-menu {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-color: inherit;
        border-bottom: none;
        color: $--layout-head-menu-item-text;

        &-item {
          color: inherit;
          height: inherit;
          border-bottom: inherit;

          &:not(.is-disabled):hover,
          &.is-active {
            font-weight: 550;
            color: $--layout-head-menu-item-text--hover;
            background-color: $--layout-head-menu-item-background--hover;
          }
        }
      }
    }

    // 基础信息
    .base-info {
      width: 140px;
      height: inherit;
      float: left;

      // 全屏按钮
      .screen-full {
        width: 20px;
        height: inherit;
        float: left;
        display: flex;
        align-items: center;

        .el-icon-full-screen {
          font-size: 20px;
          cursor: pointer;
          color: $text-background;
        }
      }

      // 用户基础信息
      .user-info {
        width: calc(100% - 20px - #{$padding-base * 6});
        height: inherit;
        float: left;
        display: flex;
        align-items: center;
        margin-left: $padding-base * 6;

        .user-icon {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          // background-color: $text-regular;
          background-size: 100%;
          background-image: url('/images/user-icon.svg');
        }

        .user-text {
          width: calc(100% - 32px);
          font-size: 14px;
          padding-left: $padding-base * 2;
          color: $text-background;
        }
      }
    }
  }

  // 内容区域
  .body {
    width: 100%;
    height: calc(100% - #{$--layout-head--height});
    float: left;

    // 侧边栏
    .side-menu {
      height: 100%;
      box-sizing: border-box;
      background-color: $--layout-sidebar-menu-background;
      float: left;
      padding-top: $padding-base * 4;
      color: $--layout-sidebar-menu-item-text;

      // 删除el-menu样式
      .horizontal-collapse-transition {
        transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
      }

      .el-menu {
        width: 100%;
        height: calc(100% - 48px);
        float: left;
        background-color: inherit;

        .el-menu-item,
        .el-submenu__title {
          color: $--layout-sidebar-menu-item-text;
          height: 48px;
          line-height: 48px;
          padding: 0 $padding-base * 8 !important;

          .svg-icon {
            vertical-align: middle;
            margin-right: $padding-base;
          }

        }

        .el-menu-item {
          color: $--layout-sidebar-menu-item-text;
          height: 48px;
          line-height: 48px;
          padding: 0 $padding-base * 8 !important;
          transition: color ease-in .45s;

          .title,
          .svg-icon {
            z-index: 222;
            position: relative;
          }

          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: $padding-base * 2;
            width: calc(100% - $padding-base * 4);
            height: 100%;
            z-index: 0;
            border-radius: 4px;
            transition: background-color ease-in .45s;
          }

          &:hover,
          &:active,
          &:focus,
          &.is-active {
            background-color: transparent;
            color: $text-background;

            &::before {

              background-color: $color-primary;
            }
          }

        }

        .el-submenu {
          background-color: $--layout-sidebar-sub-menu-background;

          &__title {

            &:hover,
            &:active,
            &:focus,
            &.is-active {
              background-color: transparent;
            }
          }

          .el-menu-item {
            padding: 0 ($padding-base * 9 + 20px) !important;
          }
        }
      }

      .collapse-box {
        width: 100%;
        height: 48px;
        float: left;
        cursor: pointer;
        @include flex-center();

        .collapse-icon {
          transition: transform ease-in-out .4s;
        }
      }

      .is-custom-active {
        color: $color-primary;
      }
    }

    .tags-view {
      height: 34px;
      float: left;
    }

    // 路由渲染区域
    .render-view {
      height: calc(100% - 34px);
      float: left;
      padding: $padding-base * 6;
    }

    $side-menu-open-collapse--width: 64px;
    $side-menu-close-collapse--width: 256px;

    // 侧边栏收缩
    &.collapsed {

      // 侧边栏
      .side-menu {
        width: $side-menu-open-collapse--width;

        .collapse-box .collapse-icon {
          transform: rotate(-180deg);
        }

        .el-menu {
          .el-submenu {
            &__title {
              padding: 0 $padding-base * 5 !important;
            }
          }
        }
      }

      // 路由渲染区域
      .tags-view,
      .render-view {
        width: calc(100% - $side-menu-open-collapse--width);
      }
    }

    // 侧边栏展开
    &.collapse {

      // 侧边栏
      .side-menu {
        width: $side-menu-close-collapse--width;
      }

      // 路由渲染区域
      .tags-view,
      .render-view {
        width: calc(100% - $side-menu-close-collapse--width);
      }
    }

    // 无侧边栏
    &.has-side-menu {

      .tags-view,
      .render-view {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/**
  * 内容域布局
  **/
.tm-base {
  @include wh100();

  border-radius: 4px;

  .manager-layout {
    @include wh100();
    box-shadow: $shadow;
    padding: $padding-base * 2.5;

    $margin: $padding-base * 2.5;
    $header-height: 32px;
    $header-height-more: $header-height * 2 + $padding-base * 2;
    $footer-height: 32px;
    overflow: hidden;

    &__header {
      width: calc(100% - $margin * 2);
      height: $header-height;
      margin: $margin;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      transition: height ease-in-out .5s;

      .left-condition {
        display: flex;
        align-items: center;
      }

      .right-button {
        display: flex;
        align-items: center;
        margin-left: $padding-base * 6;
      }

      .item {
        display: flex;
        width: 240px;
        height: 32px;

        &:not(.item:first-of-type) {
          margin-left: $padding-base * 4;
        }

        &-label {
          float: left;
          color: $text-regular;
          font-size: 14px;
          height: 32px;
          margin-right: $padding-base * 3;
          display: flex;
          align-items: center;
          white-space: nowrap;
        }

        &-value {
          float: left;
        }
      }

      // 存在高级筛选
      &.more {
        display: block;

        .default-condition {
          display: flex;
          justify-content: space-between;
        }

        .more-condition {
          width: 100%;
          height: $header-height;
          margin-top: $padding-base * 2;
          display: flex;
        }
      }

      &.manager-layout__header--more {
        height: $header-height-more;

        &+.manager-layout__body {
          height: calc(100% - $header-height-more - $footer-height - $margin * 6);
        }
      }
    }

    &__body {
      width: calc(100% - $margin * 2);
      height: calc(100% - $header-height - $footer-height - $margin * 6);
      margin: $margin;
      float: left;
      overflow: hidden;

      .table {
        @include wh100();
        transition: none;
      }

      .batch-handle {
        width: 100%;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $border-default;
        border-bottom: none;
        transition: margin-top ease-in-out .5s;
        margin-top: -32px;
      }

      &.show-batch-handle {
        .batch-handle {
          margin-top: 0;
        }

        .batch-handle+.table {
          width: 100%;
          height: calc(100% - 32px);
        }
      }
    }

    &__body--without-footer {
      @extend .manager-layout__body;
      height: calc(100% - $header-height - $footer-height - $margin * 4);
    }

    &__footer {
      width: calc(100% - $margin * 2);
      height: $footer-height;
      margin: $padding-base * 2.5;
      float: left;
    }
  }

  .modular-layout {
    @include wh100();
    $margin: $padding-base * 2.5;

    .modular-layout-item {
      box-shadow: $shadow;
      margin: $margin;
      float: left;
    }
  }
}

.is-empty {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}